.button {
    align-items: center;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    gap: 8px;
    font-size: 15px;
    font-weight: 700;
    justify-content: center;
    line-height: 1.6;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;

    svg {
        fill: rgba(#fff, 0.4);
        height: 24px;
        min-width: 24px;
        transition: fill 0.3s;
        width: 24px;
    }

    &.disabled,
    &:disabled,
    &[data-disabled] {
        cursor: default;
        opacity: 0.6;
        pointer-events: none;

        &::after {
            display: none;
        }
    }

    &:not(.disabled),
    &:not(:disabled),
    &:not([data-disabled]) {
        @include hover {
            svg {
                fill: #fff;
            }

            &.button--white {
                svg {
                    fill: #000;
                }
            }
        }
    }

    &--red {
        background-color: var(--f-warning);

        svg {
            fill: #fff;
        }
    }

    &--red_bordered {
        border: 1px solid var(--f-warning);
        background-color: transparent;
        color: var(--f-warning);

        svg {
            fill: var(--f-warning);
        }
        @include hover {
            background-color: var(--f-warning);
            color: #fff;

            svg {
                fill: #fff;
            }
        }
    }

    &--green {
        background-color: var(--primary-a);

        svg {
            fill: #fff;
        }
    }

    &--green_bordered {
        border: 1px solid var(--primary-a);
        background-color: transparent;
        color: var(--primary);

        svg {
            fill: var(--primary);
        }
        @include hover {
            background-color: var(--primary-a);
            color: #fff;

            svg {
                fill: #fff;
            }
        }
    }

    &--h_32 {
        border-radius: 20px;
        font-size: 14px;
        height: 32px;
        padding: 4px 16px;

        svg {
            height: 16px;
            min-width: 16px;
            width: 16px;
        }
    }

    &--h_36 {
        border-radius: 20px;
        font-size: 14px;
        height: 36px;
        padding: 4px 16px;

        svg {
            height: 16px;
            min-width: 16px;
            width: 16px;
        }
    }

    &--h_40 {
        border-radius: 20px;
        height: 40px;
        padding: 8px 24px;
    }

    &--h_48 {
        border-radius: 12px;
        height: 48px;
        padding: 12px 24px;
    }

    &--h_56 {
        border-radius: 16px;
        height: 56px;
        padding: 14px 48px;
    }

    &--green,
    &--red,
    &--white {
        position: relative;
        z-index: 1;

        &::after {
            bottom: 0;
            background-color: rgba(#000, 0.1);
            content: '';
            left: 0;
            opacity: 0;
            position: absolute;
            right: 0;
            top: 0;
            transition: opacity 0.3s;
            z-index: 1;
        }
        @include hover {
            &::after {
                opacity: 1;
            }
        }
    }
}