.popup {
    background-color: var(--underlay);
    border-radius: 24px;
    padding: calc(var(--base_gap) * 2) var(--base_gap);
    width: 100%;
    @media(min-width: $sm) {
        padding: 32px 40px 40px;
    }

    &.fancybox-content {
        background-color: var(--underlay);
        overflow: visible;
        padding: calc(var(--base_gap) * 2) var(--base_gap);
        @media(min-width: $sm) {
            padding: 32px 40px;
        }
    }

    &--480 {
        max-width: 480px;
        @media(min-width: 480px) {
            padding: 32px 40px;
        }

        &.fancybox-content {
            max-width: 480px;
            @media(min-width: 480px) {
                padding: 32px 40px;
            }
        }
    }

    &--560 {
        max-width: 560px;
        @media(min-width: 560px) {
            padding: 32px 40px;
        }

        &.fancybox-content {
            max-width: 560px;
            @media(min-width: 560px) {
                padding: 32px 40px;
            }
        }
    }

    &--780 {
        max-width: 780px;
        @media(min-width: 780px) {
            padding: 32px 40px;
        }

        &.fancybox-content {
            max-width: 780px;
            @media(min-width: 780px) {
                padding: 32px 40px;
            }
        }
    }

    &__title-block {
        align-items: center;
        display: flex;
        justify-content: space-between;
        gap: 12px;
        margin-bottom: 24px;
    }

    &__title {
        align-items: center;
        display: flex;
        font-size: 18px;
        font-weight: 500;
        min-height: 48px;
        margin: 0;
    }

    &__closer {
        @include button-reset;
        @include active-area;
        align-items: center;
        display: flex;
        justify-content: center;
        height: 24px;
        position: relative;
        width: 24px;
        z-index: auto;
        @include hover {
            svg {
                fill: #fff;
            }
        }

        svg {
            fill: var(--primary);
            height: 24px;
            transition: fill 0.3s;
            width: 24px;
        }
    }
}