<div class="personal__header">
    <div class="back">
        <p>Криптобот RealTrade</p>
        <p><a href="#">🠐 Вернуться на основной сайт</a></p>
    </div>

    <button class="js-personal-menu-opener personal__burger" type="button" title="Меню">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#menu" />
        </svg>
    </button>
</div>

<div class="personal-menu">
    <div class="personal-menu__inner">
        <!--УБРАТЬ АВУ -->
        <!--<div class="avatar">
            <img src="images/content/avatar.jpg" srcset="images/content/avatar@2x.jpg" alt="Имя пользователя" title="Имя пользователя">
        </div>-->

        <nav>
            <ul class="personal-menu__list">
                <li class="personal-menu__item">
                    <a class="personal-menu__link is-active" href="#">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#info" />
                        </svg>
                        <span>Данные</span>
                    </a>
                </li>
                <li class="personal-menu__item">
                    <a class="personal-menu__link" href="#">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#key" />
                        </svg>
                        <span>API Ключи</span>
                    </a>
                </li>
                <li class="personal-menu__item">
                    <a class="personal-menu__link" href="#">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#pawn" />
                        </svg>
                        <span>Мои стратегии</span>
                    </a>
                </li>
                <li class="personal-menu__item">
                    <a class="personal-menu__link" href="#">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#chart" />
                        </svg>
                        <span>Статистика</span>
                    </a>
                </li>
                <li class="personal-menu__item">
                    <a class="personal-menu__link" href="#">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#camera" />
                        </svg>
                        <span>Обучающий курс</span>
                    </a>
                </li>
                <li class="personal-menu__item">
                    <a class="personal-menu__link" href="#">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#question_light" />
                        </svg>
                        <span>FAQ</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <button class="js-personal-menu-closer personal-menu__closer" type="button" title="Закрыть меню">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#close" />
        </svg>
    </button>
</div>