.not-recomendation {
    background-color: var(--darkgrey);
    font-size: 13px;
    padding: calc(var(--base_gap) * 2);
    @media(min-width: $hd) {
        padding: calc(var(--base_gap) * 1.6666666) calc(var(--base_gap) * 2);
    }
}