.page-section {
    &:not(:last-child) {
        margin-bottom: var(--section_vertical_gap);
    }

    &__container {
        margin-left: auto;
        margin-right: auto;
        max-width: calc(1240px + 24px);
        padding-left: 24px;
        padding-right: 24px;
        @media(min-width: $hd) {
            max-width: calc(1240px + 40px);
            padding-left: 40px;
            padding-right: 40px;
        }
    }
}