.plans-list {
    @include list-reset;
    @media(min-width: $sm) {
        display: flex;
        gap: 8px;
    }
    @media(min-width: $md) {
        gap: 12px;
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: 24px;
            @media(min-width: $sm) {
                margin-bottom: 0;
            }
        }
    }
}

.plan {
    background-color: rgba(0,0,0,0.12);
    border-radius: 12px;
    border: 1px solid var(--primary-a);
    box-shadow: 0 4px 32px 0 rgba(#00A894, 0.2);
    display: flex;
    flex-direction: column;
    min-height: 440px;
    margin-left: auto;
    margin-right: auto;
    max-width: 378px;
    padding: 16px;
    @media(min-width: 380px) and (max-width: $sm - 1px) {
        padding: 40px;
    }
    @media(min-width: $sm) {
        padding: 40px 16px;
    }
    @media(min-width: $md) {
        padding-left: 40px;
        padding-right: 40px;
    }
    @media(min-width: $hd) {
        min-height: 505px;
    }

    &__title {
        align-items: center;
        color: var(--primary);
        display: flex;
        font-size: 28px;
        font-weight: 700;
        justify-content: center;
        min-height: 48px;
        margin-bottom: 24px;
        text-align: center;
        @media(min-width: $sm) and (max-width: $md - 1px) {
            font-size: 24px;
        }
    }

    &__features {
        @include list-reset;
        color: var(--comfy-reading);
        margin-bottom: 24px;

        li {
            padding: 8px 0 8px 20px;
            position: relative;
            z-index: auto;

            &::before {
                background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 3L3 0L0 3L3 6L6 3Z' fill='%2300D7B0'/%3E%3C/svg%3E%0A");
                content: '';
                height: 6px;
                left: 0;
                position: absolute;
                top: calc(1em + 2px);
                width: 6px;
            }
        }
    }

    &__price {
        color: var(--comfy-reading);
        margin-top: auto;
        margin-bottom: 48px;
        text-align: center;

        .value {
            color: var(--primary-a);
            font-size: 32px;
            font-weight: 700;
            line-height: 1;
        }

        .currency {
            color: var(--light);
            font-size: 20px;
            font-weight: 500;
        }
    }
}