<div id="1" class="banner_2">
    <div id="canvas" class="banner_2__canvas"></div>
    <div class="banner_2__content">
        <h1 class="banner_2__title">Алготрейдинг</h1>
        <p class="banner_2__subtitle">Торговля криптовалютой с максимальным доходом</p>
        <p class="banner_2__text">RealTrade – команда, объединенная одним интересом – профессиональной криптовалютной торговлей. Для этого Нами разработан уникальный торговый бот для максимальной доходности</p>
        <a class="fancy-button" href="javascript:void(0)"><span>Зарегистрироваться</span></a>
    </div>
</div>