<div class="banner">
    <picture class="banner__image">
        <img src="images/content/banner_desk.webp" srcset="images/content/banner_desk@2x.webp 2x" alt="">
    </picture>

    <div class="banner__content">
        <h1 class="banner__title">Автоматизируй свой<br> криптотрейдинг<br> профессиональным ботом</h1>
        <p class="banner__text">
            <span>>1 000</span> довольных пользователей<br>
            <span>>10 000</span> криптовалютных пар<br>
            <span>>1 млн.</span> комбинаций настроек бота<br>
            <span>5</span> бирж для работы
        </p>
        <a class="button button--green button--bordered button--h_48" href="#3"><span>Выбрать тариф</span></a>
    </div>
</div>