<section id="4" class="page-section">
    <div class="page-section__container">
        <h2>Часто задаваемые <span class="color-green">вопросы</span></h2>

        <div class="accordion accordion--mod_1">
            <button class="accordion__toggler" type="button">
                <span>Что такое торговый бот?</span>
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#chevron_down" />
                </svg>
            </button>
            <div class="accordion__body">
                <p>Торговый бот - это программа с заложенным в нем алгоритмом используемая для автоматизации торговли криптовалют.</p>
            </div>
        </div>

        <div class="accordion accordion--mod_1">
            <button class="accordion__toggler" type="button">
                <span>Как работают торговые боты?</span>
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#chevron_down" />
                </svg>
            </button>
            <div class="accordion__body">
                <p>Торговый бот будет автоматически выполнять мониторинг рынка и совершать множество сделок без вашего непосредственного участия, получая прибыль круглосуточно, а также и исключая человеческий фактор.</p>
            </div>
        </div>

        <div class="accordion accordion--mod_1">
            <button class="accordion__toggler" type="button">
                <span>Выгодны ли боты для торговли криптовалютой?</span>
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#chevron_down" />
                </svg>
            </button>
            <div class="accordion__body">
                <p>Конечно, боты для торговли криптовалютой делают торговлю более эффективной, поскольку они могут работать в многозадачном режиме, проводить анализ нескольких криптовалют, проводить сделки, сканировать рынок и т. д. Нет никаких
                    шансов, что Ваш бот упустит возможность, как это сделал бы человек.</p>
            </div>
        </div>

        <div class="accordion accordion--mod_1">
            <button class="accordion__toggler" type="button">
                <span>Опасна ли автоматическая торговля?</span>
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#chevron_down" />
                </svg>
            </button>
            <div class="accordion__body">
                <p>Нет, если соблюдать риск-менеджмент и Наши рекомендации, Вы сможете уберечь себя от ликвидации сделок при волатильности рынка.</p>
                <p>Для большей безопасности перед запуском торгового бота выставленные Вами настройки можно проверить на исторических данных, а также есть видео инструкция, где подробно раскрыта каждая настройка.</p>
            </div>
        </div>

        <div class="accordion accordion--mod_1">
            <button class="accordion__toggler" type="button">
                <span>Зачем Вы предоставляете своего бота?</span>
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#chevron_down" />
                </svg>
            </button>
            <div class="accordion__body">
                <p>Наш бот - это цифровой продукт выраженный в многолетнем опыте работы на рынке, личных идей и реальной практике. Как и любой коммерческий продукт, Мы заинтересованы в его распространении.</p>
            </div>
        </div>
    </div>
</section>