<section id="1" class="page-section">
    <div class="page-section__container">

        <div class="features">
            <h2>Преимущества<br> <span class="color-green">торгового бота</span></h2>

            <div class="feature">
                <div class="feature__icon"><img src="images/content/features/img_1.svg" alt=""></div>
                <p>Гибкая настройка позволяет тонко настроить торговую стратегию и подойдет под любой бюджет</p>
            </div>

            <div class="feature">
                <div class="feature__icon"><img src="images/content/features/img_2.svg" alt=""></div>
                <p>Полностью прозрачная стратегия с интуитивно понятными настройками</p>
            </div>
            <div class="feature">
                <div class="feature__icon"><img src="images/content/features/img_3.svg" alt=""></div>
                <p>Бот работает циклически и ему не нужно определять торговый диапазон работы. Сетка будет ходить за ценой</p>
            </div>
            <div class="feature">
                <div class="feature__icon"><img src="images/content/features/img_4.svg" alt=""></div>
                <p>У бота предусмотрена функция реинвестирования. Вам не нужно останавливать бота и менять настройки. Бот автоматически реинвестирует полученную прибыль</p>
            </div>
            <div class="feature">
                <div class="feature__icon"><img src="images/content/features/img_5.svg" alt=""></div>
                <p>Функция проверки настроенного бота на исторических данных. Позволяет проверить, как бот с вашими настройками работал бы в прошлом и какую доходность мог получить</p>
            </div>
        </div>
    </div>
</section>