<section id="2" class="hiw page-section">
    <div class="page-section__container">
        <h2>Как это работает?</h2>

        <div class="responsive-video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/8UmxKmVPfBI?si=DWapnFMW2To97G3g" title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>

        <div class="hiw-steps">
            <div class="hiw-step">
                <span>1</span>
                <p>Оформляете подписку</p>
            </div>

            <div class="hiw-step">
                <span>2</span>
                <p>Добавляете API ключи</p>
            </div>

            <div class="hiw-step">
                <span>3</span>
                <p>Настраиваете бота под нужную Вам стратегию</p>
            </div>

            <div class="hiw-step">
                <span>4</span>
                <p>Проверяете его на исторических данных, чтобы максимизировать свою прибыль</p>
            </div>

            <div class="hiw-step">
                <span>5</span>
                <p>Запускаете бота и зарабатываете!</p>
            </div>
        </div>
    </div>
</section>