<section id="2" class="hiw_2 page-section">
    <div class="page-section__container">

        <div class="hiw_2-steps">
            <h2>Как это<br> <span class="color-green">работает?</span></h2>

            <div class="hiw-step">
                <span>1</span>
                <p>Оформляете подписку</p>
            </div>

            <div class="hiw-step">
                <span>2</span>
                <p>Добавляете API ключи</p>
            </div>

            <div class="hiw-step">
                <span>3</span>
                <p>Настраиваете бота под нужную Вам стратегию</p>
            </div>

            <div class="hiw-step">
                <span>4</span>
                <p>Проверяете его на исторических данных, чтобы максимизировать свою прибыль</p>
            </div>

            <div class="hiw-step">
                <span>5</span>
                <p>Запускаете бота и зарабатываете!</p>
            </div>
        </div>
    </div>
</section>