<div class="not-recomendation">
    <p>
        Информация, представленная на сайте RealTrades.ru не должна рассматриваться как рекомендация к действиям. Торговля на любых финансовых рынках сопряжена с рисками, которые трейдер и инвестор берет на себя. Результаты торговли,
        полученные в прошлые периоды, не могут быть гарантией получения доходов в будущем. Каждый трейдер и инвестор берет на себя всю ответственность за прибыли и убытки, которые получил в последствии использования торгового алгоритма
        предлагаемого на сайте. Сайт не несет ответственности за работу биржи, брокеров и других участников рынка, которые представлены. Все риски и ответственность связанные с использованием продуктов и услуг каждый участник берет на себя.
        Пользуясь конструктором торговой стратегии на сайте, каждый участник по умолчанию принимает текущее предупреждение о рисках.
    </p>
</div>