<section id="3" class="page-section">
    <div class="page-section__container">
        <h2>Тарифные <span class="color-green">планы</span></h2>

        <ul class="plans-list">
            <li class="plans-list__item">
                <div class="plan">
                    <p class="plan__title">Базовый</p>

                    <ul class="plan__features">
                        <li>Доступ к универсальному фьючерсному боту</li>
                    </ul>

                    <p class="plan__price"><span class="value">50</span> <span class="currency">USDT</span> / в месяц</p>

                    <button class="button button--green button--h_48" type="button">Подключить</button>
                </div>
            </li>

            <li class="plans-list__item">
                <div class="plan">
                    <p class="plan__title">Продвинутый</p>

                    <ul class="plan__features">
                        <li>Доступ к универсальному фьючерсному боту</li>
                        <li>Проверка на исторических данных</li>
                    </ul>

                    <p class="plan__price"><span class="value">100</span> <span class="currency">USDT</span> / в месяц</p>

                    <button class="button button--green button--h_48" type="button" disabled>Скоро появится</button>
                </div>
            </li>

            <li class="plans-list__item">
                <div class="plan">
                    <p class="plan__title">VIP</p>

                    <ul class="plan__features">
                        <li>Доступ к универсальному фьючерсному боту</li>
                        <li>Проверка на исторических данных</li>
                        <li>
                            ATR анализ
                            <button class="info-button" type="button" title="Информация" data-tippy-content="Полезная информация">
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#question"></use>
                                </svg>
                            </button>
                        </li>
                    </ul>

                    <p class="plan__price"><span class="value">150</span> <span class="currency">USDT</span> / в месяц</p>

                    <button class="button button--green button--h_48" type="button" disabled>Скоро появится</button>
                </div>
            </li>
        </ul>
    </div>
</section>