<section id="2" class="road-map-section page-section">
    <div class="page-section__container">
        <h2>Дорожная <span class="color-green">карта</span></h2>
    </div>

    <div class="js-drag-scroll road-map">
        <div class="road-map__back">
            <div class="road-map__path">
                <div class="road-map__point is-active">
                    <img draggable="false" src="images/content/road-map/point_1.svg" alt="">
                    <p>Разработка<br> алгоритма</p>
                </div>
                <div class="road-map__point is-active">
                    <img draggable="false" src="images/content/road-map/point_2.svg" alt="">
                    <p>Получение партнерства<br> ведущих криптобирж</p>
                </div>
                <div class="road-map__point is-active">
                    <img draggable="false" src="images/content/road-map/point_3.svg" alt="">
                    <p>Закрытое<br> тестирования бота</p>
                </div>
                <div class="road-map__point is-active">
                    <p class="road-map__point-title">Вы находитесь здесь!</p>
                    <img draggable="false" src="images/content/road-map/point_4.svg" alt="">
                    <p>Открытие предварительной<br> регистрации</p>
                </div>
                <div class="road-map__point">
                    <img draggable="false" src="images/content/road-map/point_5.svg" alt="">
                    <p>Доступ<br> к личному кабинету</p>
                </div>
                <div class="road-map__point">
                    <img draggable="false" src="images/content/road-map/point_6.svg" alt="">
                    <p>Запуск торгового бота на<br> криптобиржах</p>
                </div>
                <div class="road-map__point">
                    <img draggable="false" src="images/content/road-map/point_7.svg" alt="">
                    <p>Торговый индикатор для<br> TradingView</p>
                </div>
                <div class="road-map__point">
                    <img draggable="false" src="images/content/road-map/point_8.svg" alt="">
                    <p>Расширение<br> функционала бота</p>
                </div>
                <div class="road-map__point">
                    <p class="road-map__point-title">Поехали!</p>
                    <img draggable="false" src="images/content/road-map/point_9.svg" alt="">
                    <p>Подключение<br> криптотрейдинга</p>
                </div>
            </div>
        </div>
    </div>
</section>